<!DOCTYPE html>
<html>
    <head>
        <title>Genus Devolution Details</title>
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <meta charset="UTF-8" />
        <link
            href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@600&display=swap"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
            integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
            crossorigin="anonymous"
        />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-print-css/css/bootstrap-print.min.css"
            media="print"
        />
    </head>

    <style>
        .logo {
            height: 45px;
            margin-left: 2rem;
        }

        .pdf-h1 {
            font-size: 1.1rem;
        }
    </style>
    <% const { devolution, convertIfDate, referrerBase, req, defaultLogoBuffer } = dataForEJS; %>

    <body>
        <!-- <div id="devoReq" style="display: none">
            <%= devolution?.materialReq %>
        </div> -->
        <!-- <div id="devoReqHeader" style="display: none">
            <%= JSON.stringify(devolution?.apiHeader) %>
        </div> -->
        <!-- <div id="devoReqBody" style="display: none">
            <%= JSON.stringify(devolution?.materialReqBody) %>
        </div> -->
        <div id="devoheaders" style="display: none">
            <%= JSON.stringify(devolution?.headerArr) || [] %>
        </div>
        <div id="devomaterials" style="display: none">
            <%= JSON.stringify(devolution?.materials) || [] %>
        </div>
        <!-- <div id="devocount" style="display: none">
            <%= devolution?.count || 0 %>
        </div> -->
        <div class="no-container-margin custom-border">
            <div class="overlapping-container">
                <div>
                    <div class="row">
                        <div class="col-sm-2 my-auto">
                            <div
                                class="d-flex justify-content-center align-items-center"
                            >
                                <img
                                    class="logo"
                                    height="42px"
                                    src="<%= defaultLogoBuffer %>"
                                    alt="Logo"
                                />
                            </div>
                        </div>

                        <div class="col-sm-7"></div>

                        <div class="col-sm-3 my-auto mt-2">
                            <dl
                                class="m-0 align-items-center bordered-definitions-container"
                            >
                                <div class="custom-border">
                                    <dt
                                        class="fw-bold my-1 pdf-dt"
                                        style="padding-left: 8px"
                                    >
                                        Document No:
                                    </dt>
                                    <dd
                                        class="my-1 pdf-dd"
                                        style="
                                            word-wrap: anywhere;
                                            padding-left: 8px;
                                        "
                                    >
                                        <%=
                                        devolution?.basicDetails?.devolutionDocNo
                                        || 'N/A' %>
                                    </dd>
                                </div>
                                <div class="custom-border">
                                    <dt
                                        class="fw-bold my-1 pdf-dt"
                                        style="padding-left: 8px"
                                    >
                                        Document Date:
                                    </dt>
                                    <dd
                                        class="my-1 pdf-dd"
                                        style="padding-left: 8px"
                                    >
                                        <%=
                                        convertIfDate(devolution?.basicDetails?.createdAt)
                                        || 'N/A' %>
                                    </dd>
                                </div>
                            </dl>
                        </div>
                    </div>
                </div>

                <div class="container position-absolute">
                    <div
                        class="pdf-top-section-heading my-auto d-flex align-items-center justify-content-center h-100"
                    >
                        <div
                            style="height: 8rem"
                            class="row justify-content-center align-items-center"
                        >
                            <div
                                class="col-sm-12 d-grid justify-content-center"
                            >
                                <h1 class="pdf-h1 text-center">
                                    GENUS POWER INFRASTRUCTURES LIMITED
                                </h1>
                                <h3 class="pdf-h3 text-center">
                                    DEVOLUTION<span
                                        ><%-
                                        devolution?.basicDetails?.approvalStatus
                                        === "0" ? '&nbsp;(REJECTED)' : ''
                                        %></span
                                    >
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-sm-12 no-padding">
                    <table class="table table-bordered table-sm">
                        <tbody>
                            <tr>
                                <td>
                                    <span class="fw-bold">Customer: </span
                                    ><span
                                        ><%=
                                        devolution?.basicDetails?.organization?.name
                                        || 'N/A' %></span
                                    >
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="fw-bold">Customer Store: </span
                                    ><span
                                        ><%=
                                        devolution?.basicDetails?.organization_store?.name
                                        || 'N/A' %></span
                                    >
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-sm-12 mt-1">
                <table class="table table-condensed table-sm table-bordered">
                    <tbody>
                        <tr>
                            <td>
                                <span class="fw-bold">Project:</span> <%=
                                devolution?.basicDetails?.project?.name || 'N/A'
                                %>
                            </td>
                            <td>
                                <span class="fw-bold">Form:</span> <%=
                                devolution?.basicDetails?.form?.name || 'N/A' %>
                            </td>
                            <td>
                                <span class="fw-bold">Quantity:</span> <%=
                                devolution?.basicDetails?.approvalStatus === '0' ? devolution?.count : (devolution?.basicDetails?.quantity || 'N/A') %>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="fw-bold">Approver Name:</span> <%=
                                devolution?.basicDetails?.approver?.name ||
                                'N/A' %>
                            </td>
                            <td>
                                <span class="fw-bold">Approval Status:</span>
                                <%= devolution?.basicDetails?.approvalStatus ===
                                '2' ? 'Pending' :
                                devolution?.basicDetails?.approvalStatus === '1'
                                ? 'Approved' : 'Rejected' %>
                            </td>
                            <td>
                                <span class="fw-bold">Approved/Rejected Date:</span> <%=
                                convertIfDate(devolution?.basicDetails?.approvalDate)
                                || 'N/A' %>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="row">
                <div class="col-sm-12 no-padding">
                    <table
                        class="table table-bordered table-sm table-condensed table-extra-condensed no-bottom-margin"
                    >
                        <thead>
                            <tr>
                                <% for (let i = 0; i <
                                (devolution?.headerArr?.length || 0); i++) { %>
                                <th scope="col">
                                    <%= devolution?.headerArr[i] %>
                                </th>
                                <% } %>
                            </tr>
                        </thead>
                        <tbody id="material-table-body"></tbody>
                    </table>
                    <!-- <div style="text-align: right; padding-bottom: 20px">
                        <button
                            class="btn btn-primary"
                            onclick="updatePageSize()"
                        >
                            Load More
                        </button>
                    </div> -->
                </div>
            </div>

            <div class="row horizontal-bordered-blocks-container mb-3">
                <div class="col-sm-2">
                    <div class="signature-block">
                        <small class="pdf-small d-flex justify-content-center"
                            >Project Manager</small
                        >
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="signature-block">
                        <small class="pdf-small d-flex justify-content-center"
                            >Site Commercial</small
                        >
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="signature-block">
                        <small class="pdf-small d-flex justify-content-center"
                            >Store Incharge (A-Sender) with Seal</small
                        >
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="signature-block">
                        <small class="pdf-small d-flex justify-content-center"
                            >Store Incharge (B-Receiver) with Seal</small
                        >
                    </div>
                </div>
            </div>
        </div>

        <script>
            const phdr = JSON.parse(
                document.getElementById("devoheaders").innerHTML
            );
            let matrls = JSON.parse(
                document.getElementById("devomaterials").innerHTML
            );
            // const matrlscount = JSON.parse(
            //     document.getElementById("devocount").innerHTML
            // );
            // const devoReqHdr = JSON.parse(
            //     document.getElementById("devoReqHeader").innerHTML
            // );
            // const devoReqBdy = JSON.parse(
            //     document.getElementById("devoReqBody").innerHTML
            // );

            // const dReq = document.getElementById("devoReq").innerHTML;
            // console.log(dReq);
            // async function fetchMaterials(page) {
            //     try {
            //         const response = await fetch(dReq, {
            //             method: "POST", // Specify the method as POST
            //             headers: devoReqHdr,
            //             body: JSON.stringify({
            //                 ...devoReqBdy,
            //                 pageNumber: page,
            //                 rowPerPage: 5000,
            //             }), // Convert the data to JSON
            //         });
            //         if (!response.ok) {
            //             throw new Error("Failed to fetch materials");
            //         }
            //         let data = await response.json(); // Assuming the API returns JSON data
            //         return data;
            //     } catch (error) {
            //         console.error("Error fetching materials:", error);
            //         return [];
            //     }
            // }
            let firstFetch = false;
            let clicked = 1;
            let allData = [];
            async function updatePageSize() {
                const tableBody = document.getElementById(
                    "material-table-body"
                );
                // if (firstFetch) {
                //     let fetchedData = await fetchMaterials(clicked);
                //     if (fetchedData) {
                //         console.log(fetchedData);
                //         matrls = fetchedData?.data?.rows;
                //     }
                // }

                let data = [];
                for (let i = 0; i < matrls.length; i++) {
                    let rowData = [];
                    for (let j = 0; j < phdr.length; j++) {
                        rowData.push(`<td>${matrls[i][phdr[j]]}</td>`);
                    }
                    data.push(`<tr>${rowData.join("")}</tr>`);
                }

                document.getElementById("material-table-body").innerHTML +=
                    data.join("");
                firstFetch = true;
                clicked += 1;
                // document.getElementById("material-table-body").innerHTML = JSON.stringify(matrls[0][phdr[1]]);
            }
            // document.getElementById("loadMoreBtn").addEventListener("click", updatePageSize);
            window.onload = function () {
                updatePageSize(); // Call the function directly instead of triggering a click
            };

            // Alternatively, if you want to simulate a button click
            // document.getElementById("changeValueBtn").click();
        </script>
    </body>
</html>
