<!DOCTYPE html>
<html>

<head>
  <title>Genus Receipt</title>
  <!-- Meta Tags -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta charset="UTF-8" />
  <!-- Google Public Sans Font -->
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@600&display=swap" rel="stylesheet" />
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />
  <!-- Bootstrap Print -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-print-css/css/bootstrap-print.min.css" media="print" />
  <!-- Custom Styles -->
  <style>
    .logo {
      margin-top: 1rem;
      margin-left: 1rem;
    }
  </style>
</head>

<%
    const {
        convertIfDate,
        createdApproversList,
        parseAddressFromObject,
        transaction,
        parentOrganizationFetchers,
        transactionIsCancelled,
        getLogoBufferFrom,
        textSections,
        tableColumns
    } = dataForEJS
  %>

<% var { materialData } = transaction %>

<%
    materialData = materialData
        ? materialData.map((item, tableItemIndex) => ({
            ...item,
            serialNumber: tableItemIndex + 1
            }))
        : []
%>

<body>
  <div class="no-container-margin custom-border">
    <!-- Header -->
    <div class="row">
      <div class="col-sm-3">
        <% const logoForDisplay = getLogoBufferFrom(parentOrganizationFetchers.getTopmostOrganization(transaction?.to_store)); %>
        <% if(logoForDisplay) { %>
        <img src="<%= logoForDisplay %>" height="70px" class="logo" alt="Logo">
        <% } %>
      </div>
      <div class="pdf-top-section-heading col-sm-6 d-flex align-items-center justify-content-center h-100">
        <div class="row justify-content-center">
          <div class="col-sm-12 d-flex justify-content-center">
            <h1 class="pdf-h1 text-center"><%= parentOrganizationFetchers.getTopmostOrganization(transaction?.to_store)?.name || 'N/A' %></h1>
          </div>
          <div class="col-sm-12 d-flex justify-content-center">
            <h2 class="pdf-h2 text-center"><u>MATERIAL REQUISITION FORM<%- transactionIsCancelled(transaction) ? ' (CANCELLED)' : '' %></u></h2>
          </div>
        </div>
      </div>
      <div class="col-sm-3 my-auto mt-2">
        <dl class="m-0 align-items-center bordered-definitions-container">
          <div class="custom-border">
            <dt class="fw-bold my-1 pdf-dt" style="padding-left: 8px">Requisition No:</dt>
            <dd class="my-1 pdf-dd" style="word-wrap: anywhere; padding-left: 8px"><%= transaction.referenceDocumentNumber || 'N/A' %></dd>
          </div>
          <div class="custom-border">
            <dt class="fw-bold my-1 pdf-dt" style="padding-left: 8px">Requisition Date:</dt>
            <dd class="my-1 pdf-dd" style="padding-left: 8px"><%= convertIfDate(transaction.createdAt) || 'N/A' %></dd>
          </div>
        </dl>
      </div>
    </div>

    <div class="row pdf-p mt-3 mx-1">
      <div class="col-sm custom-border px-2 py-1">
        <div>
          <span class="fw-bold">From: </span>
          <span><%= parentOrganizationFetchers.getImmediateParentOrganization(transaction?.to_store)?.name || 'N/A' %>, </span>
          <span><%= parseAddressFromObject(transaction?.to_store) %></span>
        </div>
        <div>
          <span class="fw-bold">GSTIN: </span><%=
            transaction?.to_store?.gstNumber %>
        </div>
        <div><%= transaction?.to_store?.mobileNumber %>
        </div>
        <div><%= transaction?.to_store?.email %></div>
      </div>
      <div class="col-sm custom-border px-2 py-1" style="margin-left: -2px">
        <div>
          <span class="fw-bold">To: </span>
          <span><%= parentOrganizationFetchers.getImmediateParentOrganization(transaction?.from_store)?.name || 'N/A' %><%= parentOrganizationFetchers.getImmediateParentOrganization(transaction?.from_store)?.name ? ', ' : '' %></span>
          <span><%= parseAddressFromObject(transaction?.from_store) %></span>
        </div>
        <div>
          <span class="fw-bold">GSTIN: </span><%= transaction?.from_store?.gstNumber %>
        </div>
        <div><%= transaction?.from_store?.mobileNumber %></div>
        <div><%= transaction?.from_store?.email %></div>
      </div>
    </div>

    <!-- Project Details -->
    <div class="col-sm-12 mt-3">
      <table class="table table-bordered table-condensed table-sm">
        <tbody>
          <tr>
            <td><span class="fw-bold">Project: </span><%= transaction?.project?.name %></td>
            <td><span class="fw-bold">Work Order Number: </span><%= transaction?.poNumber %></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-sm-12 mt-3">
      <table class="table table-bordered table-condensed table-extra-condensed table-sm">
        <thead>
          <tr>
            <th scope="col">Sr. No.</th>
            <th scope="col">Material Description</th>
            <th scope="col">Code</th>
            <th scope="col">HSN Code</th>
            <th scope="col">UOM</th>
            <th scope="col">Qty</th>
            <th scope="col">Remarks</th>
          </tr>
        </thead>
        <tbody>
          <% for (let i = 0; i < materialData.length; i++) { %>
          <% const { serialNumber, name, code, hsnCode, uom, quantity } = materialData[i]; %>
          <% if (i === materialData.length - 1) { %>
          <tr style="border-bottom: 2px solid gray;">
            <% } else { %>
          <tr>
            <% } %>
            <td><%= serialNumber %></td>
            <td><%= name %></td>
            <td><%= code %></td>
            <td><%= hsnCode %></td>
            <td><%= uom %></td>
            <td><%= quantity %></td>
            <% if (i === 0) { %>
            <td style="vertical-align:middle;" rowspan="<%= materialData.length %>"><%= transaction?.remarks %></td>
            <% } else { %>
            <td class="d-none"></td>
            <% } %>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>

    <div class="row horizontal-bordered-blocks-container mt-3 mb-2">
      <div class="col-sm-6 no-padding">
        <div class="signature-block">
          <small class="d-flex justify-content-center pdf-small"><span class="fw-bold">Requested By</span>&nbsp;- <%= transaction?.created?.name || 'N/A' %></small>
        </div>
      </div>
      <div class="col-sm-6 no-padding">
        <div class="signature-block">
          <small class="d-flex justify-content-center pdf-small"><span class="fw-bold">Authorized Employee</span>&nbsp;- <%= transaction?.contractor_employee?.name || 'N/A' %></small>
        </div>
      </div>
    </div>

    <% if((createdApproversList || []).length > 0) { %>
    <div class="col-sm-12 mt-1 mt-3 mb-2">
      <table class="table table-bordered table-condensed table-sm">
        <thead>
          <tr>
            <th scope="col">Sr. No.</th>
            <th scope="col">Approver Name</th>
            <th scope="col">Approval Status</th>
            <th scope="col">Date And Time</th>
            <th scope="col">Remarks</th>
          </tr>
        </thead>
        <tbody>
          <% for(let i = 0; i < (createdApproversList || []).length; i++) { %>
          <tr>
            <td><%= i + 1 %></td>
            <td><%= createdApproversList[i]?.name || 'N/A' %></td>
            <td><%= createdApproversList[i]?.action || 'N/A' %></td>
            <td><%= convertIfDate(createdApproversList[i]?.time, true) || 'N/A' %></td>
            <td><%= createdApproversList[i]?.remarks || 'N/A' %></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
    <% } %>
  </div>
</body>

</html>
